@font-face {
    font-family: "Lucida Sans Unicode";
    src: url("../fonts/lucida_sans_unicode-webfont.woff") format("woff"),
    url("../fonts/lucida_sans_unicode-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 25px solid #2b81ac;
    background-color: #3399cc;
    font-family: "Lucida Sans Unicode";
}

h1 {
    font-size: 21px;
    margin-top: 49px;
    margin-left: 110px;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin-left: 110px;
}

.content-list {
    list-style: none;
    padding: 0;
    font-size: 0;
    border: 4px solid #fff;
}

.content-list li {
    font-size: 22px;
    color: #fff;
    display: inline-block;
    border: 4px solid #fff;
    text-align: center;
    padding: 20px;
}
.card-1 {
     width: 50%;
     background-color: #70b8db;
 }

.card-2 {
    width: 25%;
    background-color: #33cccc;
    }

.card-3 {
    width: 25%;
    background-color: #996699;
}

.card-4 {
    width: 25%;
    background-color: #c24747;
}

.card-5 {
    width: 25%;
    background-color: #e2674a;
}

.card-6 {
    width: 25%;
    background-color: #ffcc66;
}

.card-7 {
    width: 25%;
    background-color: #99cc99;
}

.card-8 {
    width: 25%;
    background-color: #669999;
}

.card-9 {
    width: 50%;
    background-color: #cc6699;
}

.card-10 {
    width: 25%;
    background-color: #339966;
}

.card-11 {
    width: 100%;
    background-color: #666699;
}

.wi {
    font-size: 42px
}

.wi-sunrise {
    font-size: 27px;
    margin-left: 10px;
}

.text {
    color: #fff;
    margin-top: 43px;
    margin-left: 110px;
}

ul:hover li {
    opacity: 0.5;
}

li:hover {
    opacity: 1 !important;
}

.content-list:hover {
    cursor: pointer;
}

